In [38]:

summa = 0
for i in range(1,11,2):
    print(i)
    summa *= i
print("Summan av talen multiplicerade med varandra är:",1 * 3 * 5 * 7 * 9)

1
3
5
7
9
Summan av talen multiplicerade med varandra är: 945

In [44]:
#uppgift m04u02
procent = 0.03
startkapital = 10000
for year in range(1,16):
    summa = startkapital * (1 + procent) ** year
print(f"{summa} kr")

15579.674166007651 kr

In [8]:
#uppgift m04u0
for i in range(0,101):
    print(i, end="")

0 1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49 50 51 52 53 54 55 56 57 58 59 60 61 62 63 64 65 66 67 68 69 70 71 72 73 74 75 76 77 78 79 80 81 82 83 84 85 86 87 88 89 90 91 92 93 94 95 96 97 98 99 100

In [52]:
for i in range(1, 11):
    print(end=" ")
    for j in range(1, 11):
        print("{:2d}".format(i * j), end=" ")
    print()

  1  2  3  4  5  6  7  8  9 10
  2  4  6  8 10 12 14 16 18 20
  3  6  9 12 15 18 21 24 27 30
  4  8 12 16 20 24 28 32 36 40
  5 10 15 20 25 30 35 40 45 50
  6 12 18 24 30 36 42 48 54 60
  7 14 21 28 35 42 49 56 63 70
  8 16 24 32 40 48 56 64 72 80
  9 18 27 36 45 54 63 72 81 90
 10 20 30 40 50 60 70 80 90 100